<div [class]="customStyle" class="sm:hidden text-white bg-black flex flex-wrap justify-between items-center px-10 " style="background-image: url('assets/footerimage.svg'); background-repeat: no-repeat; background-position: right;">

  <!-- class="absolute w-[259.1px] h-[211.25px] top-[402px] right-0 gap-0 border-t-[1px] border-r-0 border-b-0 border-l-0 opacity-[0.3] rotate-[-20.64deg] bg-no-repeat bg-center bg-contain"
  style="background-image: url('assets/footerimage.svg');" -->


    <div class="flex space-x-8">
      <a href="#" class="text-sm hover:underline">English</a>
      <a href="#" class="text-sm hover:underline">العربية</a>
    </div>
    <div>
        <div class="flex space-x-8 ">
            <a href="#" class="text-sm hover:underline">Contact Us</a>
            <a href="#" class="text-sm hover:underline">FAQ</a>
            <a href="#" class="text-sm hover:underline">Privacy</a>

            
            <a href="#" class="text-sm hover:underline">Terms and Conditions</a>
            <a href="#" class="text-sm hover:underline">Inquiries</a>
          </div>
          
    </div>
    <div class="flex items-center space-x-2">
      <div class="flex items-center space-x-2">
        <img src="assets/phone.svg" alt="Phone">
        <span class="text-sm">9200 28000</span>
      </div>
    </div>

  </div>
    


  <div [class]="customStyle" class="lg:hidden text-white bg-black items-center flex" style="background-image: url('assets/footerimage.svg'); background-repeat: no-repeat; background-position: top;">

    <!-- class="absolute w-[259.1px] h-[211.25px] top-[402px] right-0 gap-0 border-t-[1px] border-r-0 border-b-0 border-l-0 opacity-[0.3] rotate-[-20.64deg] bg-no-repeat bg-center bg-contain"
    style="background-image: url('assets/footerimage.svg');" -->
  
  
<div class="h-[380px]">
  <div class="flex space-x-8 px-[48px]">
    <a href="#" class="text-sm hover:underline">English</a>
    <a href="#" class="text-sm hover:underline">العربية</a>
  </div>

    <div class="flex items-center mt-[32px] px-[48px] space-x-2">
      <img src="assets/phone.svg" alt="Phone">
      <span class="text-[24px] font-semibold font-inter">9200 28000</span>
    </div>


  <div class="px-[48px] mt-[32px]">
          <div class="mt-[16px]"><a href="#" class=" text-sm hover:underline">Contact Us</a></div>
          <div class="mt-[16px]"><a href="#" class=" text-sm hover:underline">FAQ</a></div>
          <div class="mt-[16px]"><a href="#" class=" text-sm hover:underline">Privacy</a></div>
          <div class="mt-[16px]"><a href="#" class=" text-sm hover:underline">Terms and Conditions</a></div>
          <div class="mt-[16px]"><a href="#" class=" text-sm hover:underline">Inquiries</a>            </div>
  </div>

  <div class="text-[#7D7D7D] text-[14px] font-inter px-[48px] mt-[32px]">
    © 2023 Alinma Bank
  </div>
</div>

  
    </div>
      