<div *ngIf="!isSkelton" class="sm:hidden bg-[#FFFFFF] border-[#EEEFF2] border relative rounded-lg p-6 flex flex-col" style="box-shadow: 0px 1px 1px 0px #DCDCDCB2;" >
    <img class="absolute right-0" style=" width: 233.96px; height: 226.33px; gap: 0px; border: 1px 0px 0px 0px; opacity: 0.3px; rotate: -28.38 deg;" src="assets/victor.svg" alt="">
  <div class=" mb-4 ">
    <div class="w-9 h-9 mb-2 bg-[#F6F7F9] rounded-md flex items-center justify-center">
      <img [src]="icon" alt="Icon" class="w-6 h-6">
    </div>
    <div class="">
      <div class="text-blue-500 font-bold text-[15px] font-[Merriweather]">{{accountType}}</div>
      <div class="text-[#1D2433] font-semibold text-[24px]">
        {{total}} <span class="text-[24px] pl-1"> {{currency}}</span>
      </div>
      <!-- <div class="text-[#1D2433] font-semibold text-[24px]"></div>
       {{total}}
      </div> -->
      <div class="text-[#71757F] text-[13px]">{{accountNumber}}</div>
    </div>
  </div>
</div>


  <div *ngIf="isSkelton" class="sm:hidden bg-[#FFFFFF] border-[#EEEFF2] border relative rounded-lg p-6 flex flex-col animate-pulse" style="box-shadow: 0px 1px 1px 0px #DCDCDCB2;">
    <img class="absolute right-0" style=" width: 233.96px; height: 226.33px; gap: 0px; border: 1px 0px 0px 0px; opacity: 0.3px; rotate: -28.38 deg;" src="assets/victor.svg" alt="">

    <div class="mb-4">
        <div class="w-9 h-9 mb-2 bg-gray-200 rounded-md"></div>
        <div class="h-[15px] bg-gray-200 rounded-md w-1/2 mb-2"></div>
        <div class="h-[24px] bg-gray-200 rounded-md w-2/3 mb-2"></div>
        <div class="h-[13px] bg-gray-200 rounded-md w-2/3"></div>
    </div>
</div>


<div *ngIf="!isSkelton" class="lg:hidden bg-[#FFFFFF] w-[280px] h-[128px] rounded-[16px] border-[#EEEFF2] border relative p-[16px] flex flex-col" style="box-shadow: 0px 1px 1px 0px #DCDCDCB2;" >
<div class="">
  <div class="text-[12px] text-[#71757F] font-inter mb-[4px]">Current</div>
  <div class="">
    <div class="text-blue-500 font-bold text-[15px] font-merriweather">{{accountType}}</div>

    <div class="text-[#71757F] mt-[12px] text-[13px]">{{accountNumber}}</div>

    <div class="text-[#1D2433]  font-semibold text-[15px]">
      {{total}} <span class="text-[15px]"> {{currency}}</span>
    </div>

  </div>
</div>
</div>